
@{
    ViewData["Title"] = "RateList";
    Layout = "~/Areas/Site/Views/Shared/_SiteLayout.cshtml";
}

@using System.Globalization;


@model ProjectIMDB.Models.VM.UserPageVM

<div class="hero user-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-ct">


                    @if (Model.UserRate[0].User.Name != null && Model.UserRate[0].User.SurName != null)
                    {
                        <h1>@Model.UserRate[0].User.Name @Model.UserRate[0].User.SurName’s profile</h1>
                    }

                    else
                    {

                        <h1>@Model.UserRate[0].User.UserName’s profile</h1>

                    }




                    <ul class="breadcumb">
                        <li class="active"><a href="#">Home</a></li>
                        <li> <span class="ion-ios-arrow-right"></span>Rated movies</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="page-single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="user-information">
                    <div class="user-img">
                        <a href="#"><img src="images/uploads/user-img.png" alt=""><br></a>
                        <a href="#" class="redbtn">Change avatar</a>
                    </div>
                    <div class="user-fav">
                        <p>Account Details</p>
                        <ul>
                            <li><a href="/Site/User/Edit/@TempData["ID"]">Profile</a></li>
                            <li><a href="/Site/User/Watchlist">Favorite movies</a></li>
                            <li class= active ><a href="/Site/User/RateList">Rated movies</a></li>
                        </ul>
                    </div>
                    <div class="user-fav">
                        <p>Others</p>
                        <ul>
                            <li><a href="/Site/User/Edit/@TempData["ID"]" >Change password</a></li>
                            <li><a href="/Site/UserLogin/Logout">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span>@Model.UserRate.Count() rates</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="range">-- Choose option --</option>
                        <option value="saab">-- Choose option 2--</option>
                    </select>
                </div>

                @foreach (var item in Model.UserRate)
        {

            <div class="movie-item-style-2 userrate">
                <a href="/Site/MoviePage/Detail/@item.MovieID"><img style="margin-right: 152px;" src="/Adminsite/movieposter/@item.Movie.PosterURL" alt=""></a> 
                <div class="mv-item-infor">
                    <h6><a href="/Site/MoviePage/Detail/@item.MovieID">@item.Movie.Name <span>(@item.Movie.ReleaseDate.Year)</span></a></h6>
                    <p class="time sm-text">your rate:</p>
                    <p class="rate"><i class="ion-android-star"></i><span>@item.Point</span> /10</p>
                    <p class="time sm-text">your reviews:</p>
                    @foreach (var data in item.Movie.Comments.Where(x =>x.IsDeleted == false))
                    {
                        <h6>@data.Header </h6>
                        <p class="time sm">@data.AddDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</p>
                        <p>“@data.Content”</p>
                    }

                </div>
            </div>
        }

               

                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">20 Movies</option>
                        <option value="saab">10 Movies</option>
                    </select>
                    <div class="pagination2">
                        <span>Page 1 of 1:</span>
                        <a class="active" href="#">1</a>
                        <a href="#"><i class="ion-arrow-right-b"></i></a>
                    </div>
                </div>

               

            </div>
        </div>
    </div>
</div>

