
@model ProjectIMDB.Models.VM.AdminUserVM


<div class="form-group row">
    @Html.LabelFor(q => q.name, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.name, new { @placeholder = "Enter name", @class = "form-control", @id = "fname" })
        @Html.ValidationMessageFor(q => q.name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.surname, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.surname, new { @placeholder = "Enter surname", @class = "form-control", @id = "lname" })
        @Html.ValidationMessageFor(q => q.surname, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.email, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.email, new { @placeholder = "Enter email", @class = "form-control" })
        @Html.ValidationMessageFor(q => q.email, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.password, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(q => q.password, new { @placeholder = "Enter password", @class = "form-control" })
        @Html.ValidationMessageFor(q => q.password, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.confirmpassword, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.PasswordFor(q => q.confirmpassword, new { @placeholder = "Enter confirm password", @class = "form-control" })
        @Html.ValidationMessageFor(q => q.confirmpassword, "", new { @class = "text-danger" })
    </div>
</div>


<div class="form-group row">
    @Html.LabelFor(q => q.roles, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-md-9">
        <select name="roles" class="select2 form-control" multiple="multiple">
            <option value="" hidden disabled>Please select jobs</option>

            @if (Model != null)
            {
                List<int> selected = new List<int>();
                if (Model.selectedRoles != null)
                {
                    foreach (var item in Model.selectedRoles)
                    {
                        <option selected value="@Convert.ToInt32(item)">@item.ToString()</option>
                        selected.Add(Convert.ToInt32(item));
                    }
                }
                foreach (var item in Model.enumRoles)
                {
                    if (!selected.Contains(Convert.ToInt32(item)))
                    {
                        <option value="@Convert.ToInt32(item)">@item.ToString()</option>
                    }
                }
            }

        </select>
        @Html.ValidationMessageFor(q => q.roles, "", new { @class = "text-danger" })
    </div>
</div>
