@model ProjectIMDB.Models.VM.PersonVM

<div class="form-group row">
    @Html.LabelFor(q => q.name, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.name, new { @placeholder = "Enter name", @class = "form-control", @id = "fname" })
        @Html.ValidationMessageFor(q => q.name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.surname, new { @class = "col-sm-3 text-right control-label col-form-label" })

    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.surname, new { @placeholder = "Enter surname", @class = "form-control", @id = "lname" })
        @Html.ValidationMessageFor(q => q.surname, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.nationality, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.nationality, new { @placeholder = "Enter nationality", @class = "form-control", @id = "nationality" })
        @Html.ValidationMessageFor(q => q.nationality, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.birthdate, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.birthdate, new { @type = "text", @placeholder = "mm/dd/yyyy", @class = "form-control mydatepicker" })
        @Html.ValidationMessageFor(q => q.birthdate, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.jobs, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-md-9">
        <select name="jobs" class="select2 form-control" multiple="multiple">
            <option value="" hidden disabled>Please select jobs</option>
            @if (Model != null)
            {
                foreach (var item in Model.enumJobs)
                {
                    <option value="@Convert.ToInt32(item)">@item.ToString()</option>
                }
            }
            else
            {
                foreach (var item in ViewBag.jobbag)
                {
                    <option value="@Convert.ToInt32(item)">@item.ToString()</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(q => q.jobs, "", new { @class = "text-danger" })
    </div>
</div>