
@model ProjectIMDB.Models.VM.MovieVM


<div class="form-group row">
    @Html.LabelFor(q => q.name, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.name, new { @placeholder = "Enter name", @class = "form-control", @id = "fname" })
        @Html.ValidationMessageFor(q => q.name, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.duration, new { @class = "col-sm-3 text-right control-label col-form-label" })

    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.duration, new { @placeholder = "Enter duration", @class = "form-control", @id = "duration" })
        @Html.ValidationMessageFor(q => q.duration, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.posterurl, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.posterurl, new { @placeholder = "Enter poster URL", @class = "form-control", @id = "posterurl" })
        @Html.ValidationMessageFor(q => q.posterurl, "", new { @class = "text-danger" })
    </div>
</div>
<div class="form-group row">
    @Html.LabelFor(q => q.releasedate, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-sm-9">
        @Html.TextBoxFor(q => q.releasedate, new { @type = "text", @placeholder = "mm/dd/yyyy", @class = "form-control mydatepicker" })
        @Html.ValidationMessageFor(q => q.releasedate, "", new { @class = "text-danger" })
    </div>


</div>

<div class="form-group row">
    @Html.LabelFor(q => q.genrearray, new { @class = "col-sm-3 text-right control-label col-form-label" })
    <div class="col-md-9">
        <select name="genrearray" class="select2 form-control" multiple="multiple">
            @if (Model != null)
            {
                @foreach (var item in Model.genres)
                {
                    <option value="@item.ID">@item.Name</option>
                }
                @if (Model.moviegenres != null)
                {
                    foreach (var item in Model.moviegenres)
                    {
                        <option selected value="@item.Genre.ID">@item.Genre.Name</option>
                    }
                }
            }
            else
            {
                foreach (var item in ViewBag.genresbag)
                {
                    <option value="@item.ID">@item.Name</option>
                }
            }
        </select>
        @Html.ValidationMessageFor(q => q.genrearray, "", new { @class = "text-danger" })
    </div>
</div>
