@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Site/Views/Shared/_SiteLayout.cshtml";
}
@using System.Globalization;

@model ProjectIMDB.Models.VM.MoviePageVM

<style>
    .btn-star {
        background-color: transparent;
        border: none;
        outline: none;
        margin: 0;
        padding: 0;
    }

    .star-hover:hover {
        color: red !important;
    }

    .overview-img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

    .media-img {
        width: 150px;
        height: 133px;
        object-fit: cover;
    }
    .tabs ul.tabs-mv li a {
        font-size: 17px;
    }
    .media-vd-img {
        width: 150px;
        height: 115px;
        object-fit: cover;
    }
</style>

<div class="hero mv-single-hero">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <h1> movie listing - list</h1>
                <ul class="breadcumb">
                    <li class="active"><a href="#">Home</a></li>
                    <li> <span class="ion-ios-arrow-right"></span> movie listing</li>
                </ul> -->
            </div>
        </div>
    </div>
</div>
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="/adminsite/movieposter/@Model.MovieDetail.PosterURL" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="@Model.MovieDetail.MovieVideos[0].VideoPath" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                            <div><a href="https://www.youtube.com/embed/o-0hcF97wy0" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                        </div>
                        <div class="btn-transform transform-vertical">
                            <div><a href="#" class="item item-1 yellowbtn"> <i class="ion-card"></i> Buy ticket</a></div>
                            <div><a href="#" class="item item-2 yellowbtn"><i class="ion-card"></i>No ticket</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                    <h1 class="bd-hd">@Model.MovieDetail.Name <span>@Model.MovieDetail.ReleaseDate.Year</span></h1>

                    @*<div class="social-btn">
                            <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                            <div class="hover-bnt">
                                <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                                <div class="hvr-item">
                                    <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                    <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                                </div>
                            </div>
                        </div>*@


                    <div class="social-btn">
                        @*@if (TempData["ID"] != null)
                            {*@
                        <form action="/Site/WatchList/Add" method="post">
                            <input type="hidden" name="MovieID" value="@Model.MovieDetail.ID" />
                            <button style="background-color: transparent; border:none;outline:none" type="submit" class="parent-btn"><i class="ion-heart"></i> Add to Watchlist</button>
                        </form>
                        @*}
                            else
                            {
                                <div class="hover-bnt">

                                    <a href="#" class="parent-btn"><i class="ion-heart"></i> Add to Favorite</a>
                                    <div class="hvr-item">
                                        <a href="#" class="hvr-grow">Sign in to add</a>

                                    </div>
                                </div>
                            }*@



                        <div class="hover-bnt">
                            <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                            <div class="hvr-item">
                                <a href="#" class="hvr-grow"><i class="ion-social-facebook"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-twitter"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-googleplus"></i></a>
                                <a href="#" class="hvr-grow"><i class="ion-social-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>

                            <p>
                                <span>
                                    @if (Model.MovieDetail.Rates.Where(q => q.IsDeleted == false).Count() != 0)
                                    {
                                        @Model.MovieDetail.AvrPoint
                                    }

                                </span> /10<br>
                                <span class="rv">@Model.MovieDetail.Comments.Where(q => q.IsDeleted == false).Count() Reviews</span>
                            </p>
                        </div>
                        <div class="rate-star">
                            <p>Rate This Movie:  </p>

                            @{
                                double puan = 0;
                            }
                            @if (Model.Rate != null)
                            {
                                puan = Model.Rate.Point;
                                @for (int i = 1; i <= 10; i++)
                                {
                                    if (i <= puan)
                                    {
                                        <form action="/Site/Rate/Add" method="post">

                                            <input type="hidden" name="Point" value="@i" />
                                            <input type="hidden" name="MovieID" value="@Model.MovieDetail.ID" />
                                            <button class="btn-star" type="submit"><i class="star-hover ion-ios-star"></i></button>
                                        </form>

                                    }
                                    else
                                    {
                                        <form action="/Site/Rate/Add" method="post">

                                            <input type="hidden" name="Point" value="@i" />
                                            <input type="hidden" name="MovieID" value="@Model.MovieDetail.ID" />
                                            <button class="btn-star" type="submit"><i class="star-hover ion-ios-star-outline"></i></button>
                                        </form>

                                    }
                                }
                            }
                            else
                            {
                                @for (int i = 1; i <= 10; i++)
                                {
                                    <form action="/Site/Rate/Add" method="post">

                                        <input type="hidden" name="Point" value="@i" />
                                        <input type="hidden" name="MovieID" value="@Model.MovieDetail.ID" />
                                        <button class="btn-star" type="submit"><i class="star-hover ion-ios-star-outline"></i></button>
                                    </form>

                                }
                            }

                        </div>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#reviews"> Reviews</a></li>
                                <li><a href="#cast">  Cast & Crew </a></li>
                                <li><a href="#media"> Media</a></li>
                                <li><a href="#moviesrelated"> Related Movies</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.MovieDetail.Description</p>
                                            <div class="title-hd-sm">
                                                <h4>Videos & Photos</h4>
                                                <a href="#" class="time">All 5 Videos & 245 Photos <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <div class="mvsingle-item ov-item">
                                                @foreach (var item in Model.MovieDetail.MovieImages.Take(3))
                                                {
                                                    <a class="img-lightbox" data-fancybox-group="gallery" href="/Adminsite/movieimages/@item.ImagePath"><img class="overview-img" src="/Adminsite/movieimages/@item.ImagePath" alt=""></a>
                                                }
                                                <div class="vd-it">
                                                    @foreach (var item in Model.MovieDetail.MovieImages.OrderByDescending(q => q.ID).Take(1))
                                                    {
                                                        <img class="vd-img overview-img" src="/Adminsite/movieimages/@item.ImagePath" alt="">
                                                        <a class="fancybox-media hvr-grow" id="vd-popup" href="https://www.youtube.com/watch?v=g3dl32LaOls"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                    }
                                                </div>
                                            </div>
                                            <div class="title-hd-sm">
                                                <h4>cast</h4>
                                                <a href="#" class="time">Full Cast & Crew  <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie cast -->
                                            <div class="mvcast-item">

                                                @foreach (var item in @Model.MovieDetail.MoviePeople.Where(q => q.JobID == 3))
                                                {
                                                    <div class="cast-it">
                                                        <div class="cast-left">

                                                            <img src="/Site/images/uploads/cast1.jpg" alt="">

                                                            <a href="#">@item.Person.Name @item.Person.SurName</a>

                                                        </div>
                                                        <p>...  Tony Stark/ Iron Man</p>
                                                    </div>
                                                    @*<div class="cast-it">
                                                            <div class="cast-left">
                                                                <img src="/Site/images/uploads/cast2.jpg" alt="">
                                                                <a href="#">Chris Hemsworth</a>
                                                            </div>
                                                            <p>...  Thor</p>
                                                        </div>*@

                                                }
                                            </div>

                                            <div class="title-hd-sm">
                                                <h4>User reviews</h4>
                                                <a href="#" class="time">See All @Model.MovieDetail.Comments.Where(q => q.IsDeleted == false).Count() Reviews <i class="ion-ios-arrow-right"></i></a>
                                            </div>
                                            <!-- movie user review -->
                                            @foreach (var item in Model.MovieDetail.Comments.Where(q => q.IsDeleted == false))
                                            {
                                                <div class="mv-user-review-item" id="c_@item.ID">
                                                    <h3>@item.Header</h3>
                                                    <div class="no-star">

                                                        @for (int i = 1; i <= 10; i++)
                                                        {
                                                            if (i <= item.Movie.Rates.Where(q => q.UserID == item.UserID && q.IsDeleted == false).Select(q => Convert.ToInt32(q.Point)).FirstOrDefault())
                                                            {
                                                                <i class="ion-android-star"></i>
                                                            }
                                                            else
                                                            {
                                                                <i class="ion-android-star last"></i>

                                                            }
                                                        }
                                                    </div>
                                                    <p class="time">
                                                        @item.AddDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US")) by <a href="#">@item.User.UserName</a>
                                                    </p>
                                                    <p>@item.Content</p>
                                                    <br />

                                                </div>
                                            }

                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            <div class="sb-it">
                                                <h6>Director: </h6>
                                                @foreach (var item in @Model.MovieDetail.MoviePeople.Where(q => q.JobID == 1))
                                                {
                                                    <p style="display:inline;"><a href="#">@item.Person.Name @item.Person.SurName </a></p>

                                                }
                                            </div>
                                            <div class="sb-it">
                                                <h6>Writer: </h6>
                                                @foreach (var item in Model.MovieDetail.MoviePeople.Where(q => q.JobID == 2))
                                                {
                                                    <p style="display:inline;"><a href="#">@item.Person.Name @item.Person.SurName, </a></p>

                                                }
                                            </div>
                                            <div class="sb-it">
                                                <h6>Stars: </h6>
                                                @foreach (var item in Model.MovieDetail.MoviePeople.Where(q => q.JobID == 3))
                                                {
                                                    <p style="display:inline;"><a href="#">@item.Person.Name @item.Person.SurName, </a></p>

                                                }

                                            </div>

                                            <div class="sb-it">
                                                <h6>Genres:</h6>
                                                @foreach (var item in Model.MovieDetail.MovieGenres.Where(q => q.IsDeleted == false))
                                                {
                                                    <p style="display:inline;"><a href="#">@item.Genre.Name, </a></p>

                                                }
                                            </div>
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>@Model.MovieDetail.ReleaseDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US"))</p>


                                            </div>
                                            <div class="sb-it">
                                                <h6>Run Time:</h6>
                                                <p>@Model.MovieDetail.Duration</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>MMPA Rating:</h6>
                                                <p>PG-13</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Plot Keywords:</h6>
                                                <p class="tags">
                                                    <span class="time"><a href="#">superhero</a></span>
                                                    <span class="time"><a href="#">marvel universe</a></span>
                                                    <span class="time"><a href="#">comic</a></span>
                                                    <span class="time"><a href="#">blockbuster</a></span>
                                                    <span class="time"><a href="#">final battle</a></span>
                                                </p>
                                            </div>
                                            <div class="ads">
                                                <img src="/Site/images/uploads/ads1.png" alt="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h3>Reviews Of</h3>
                                                <h2>@Model.MovieDetail.Name</h2>
                                            </div>
                                            <a href="/Site/Comment/Add/@Model.MovieDetail.ID" class="redbtn">Write Review</a>
                                            @*@Html.HiddenFor(q => q.MovieDetail.ID)*@
                                        </div>
                                        <div class="topbar-filter">
                                            <p>Found <span>@Model.MovieDetail.Comments.Where(q => q.IsDeleted == false).Count()</span> in total</p>
                                            <label>Filter by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>



                                        @foreach (var item in Model.MovieDetail.Comments.Where(q => q.IsDeleted == false))
                                        {
                                            <div class="mv-user-review-item " id="c_@item.ID">
                                                <div style="justify-content:space-between" class="user-infor">
                                                    <div class="user-infor">

                                                        <img src="/Site/images/uploads/userava4.jpg" alt="">
                                                        <div>
                                                            <h3>@item.Header</h3>
                                                            <div class="no-star">
                                                                @for (int i = 1; i <= 10; i++)
                                                                {
                                                                    if (i <= item.Movie.Rates.Where(q => q.UserID == item.UserID && q.IsDeleted == false).Select(q => Convert.ToInt32(q.Point)).FirstOrDefault())
                                                                    {
                                                                        <i class="ion-android-star"></i>
                                                                    }
                                                                    else
                                                                    {
                                                                        <i class="ion-android-star last"></i>

                                                                    }
                                                                }
                                                            </div>
                                                            <p class="time">
                                                                @item.AddDate.ToString("MMMM dd, yyyy", CultureInfo.CreateSpecificCulture("en-US")) by <a href="#">@item.User.UserName</a>
                                                            </p>
                                                            <p>@item.Content</p>
                                                        </div>




                                                    </div>


                                                    @if (TempData["ID"] != null)
                                                    {

                                                        @if (Convert.ToInt32(TempData["ID"]) == item.UserID)
                                                        {
                                                            <div>
                                                                <div class="row">
                                                                    <div class="rv-hd">

                                                                        <a href="/Site/Comment/Edit/@item.ID" style="padding: 0px 16px;
                                                                           font-size: 20px;" class="redbtn"><i style="margin:0;" class="ion-android-create"></i></a>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <div id="@item.ID" class="row">
                                                                    <div class="rv-hd">
                                                                        <button id="@item.ID" style=" padding: 0px 16px; font-size: 20px;" class="redbtn delete"><i style="margin:0;" class="ion-ios-trash-outline"></i></button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        }
                                                    }






                                                </div>
                                            </div>






                                        }





                                        <div class="topbar-filter">
                                            <label>Reviews per page:</label>
                                            <select>
                                                <option value="range">5 Reviews</option>
                                                <option value="saab">10 Reviews</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 6:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#">3</a>
                                                <a href="#">4</a>
                                                <a href="#">5</a>
                                                <a href="#">6</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <h3>Cast & Crew of</h3>
                                        <h2>@Model.MovieDetail.Name</h2>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Directed by </h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var item in Model.MovieDetail.MoviePeople.Where(q => q.JobID == 1))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <h4>@item.Person.Name.First()@item.Person.SurName.First()</h4>
                                                        <a href="#">@item.Person.Name @item.Person.SurName</a>

                                                    </div>
                                                    <p>...  Director</p>
                                                </div>
                                            }

                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Credit Writers</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            @foreach (var item in Model.MovieDetail.MoviePeople.Where(q => q.JobID == 2))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <h4>@item.Person.Name.First()@item.Person.SurName.First()</h4>
                                                        <a href="#">@item.Person.Name @item.Person.SurName</a>



                                                    </div>
                                                    <p>...  (based on Marvel comics)</p>
                                                </div>
                                            }

                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>JB</h4>
                                                    <a href="#">John Buscema</a>
                                                </div>
                                                <p>...  (character created by: Ultron, Vision)</p>
                                            </div>
                                        </div>
                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Cast</h4>
                                        </div>


                                        <div class="mvcast-item">
                                            @foreach (var item in Model.MovieDetail.MoviePeople.Where(q => q.JobID == 3))
                                            {
                                                <div class="cast-it">
                                                    <div class="cast-left">

                                                        <img src="/Site/images/uploads/cast3.jpg" alt="">
                                                        <a href="#">@item.Person.Name @item.Person.SurName</a>

                                                    </div>
                                                    <p>...  Bruce Banner/ Hulk</p>
                                                </div>
                                            }


                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <img src="/Site/images/uploads/cast9.jpg" alt="">
                                                    <a href="#">Don Cheadle</a>
                                                </div>
                                                <p>...  James Rhodes/ War Machine</p>
                                            </div>
                                        </div>

                                        <!-- //== -->
                                        <div class="title-hd-sm">
                                            <h4>Produced by</h4>
                                        </div>
                                        <div class="mvcast-item">
                                            <div class="cast-it">
                                                <div class="cast-left">
                                                    <h4>VA</h4>
                                                    <a href="#">Victoria Alonso</a>
                                                </div>
                                                <p>...  executive producer</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Videos & Photos of</h3>
                                                <h2>@Model.MovieDetail.Name</h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Videos <span>(@Model.MovieDetail.MovieVideos.Count())</span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">

                                            @{ int j = 0;}
                                            @foreach (var item in Model.MovieDetail.MovieVideos)
                                            {

                                                <div class="vd-item">
                                                    <div class="vd-it">
                                                        <img class="vd-img media-vd-img" src="/Adminsite/movieimages/@Model.MovieDetail.MovieImages[j].ImagePath" alt="">
                                                        <a class="fancybox-media hvr-grow" href="@item.VideoPath"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                    </div>
                                                    <div class="vd-infor">
                                                        <h6> <a href="#">Trailer:  Watch New Scenes</a></h6>
                                                        <p class="time"> 1: 31</p>
                                                    </div>
                                                </div>
                                                j++;
                                            }

                                            @*<div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item1.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                    <p class="time"> 1: 31</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="/Site/images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="/Site/images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Official Trailer #2</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>*@
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Photos <span>(@Model.MovieDetail.MovieImages.Count())</span></h4>
                                        </div>
                                        <div class="mvsingle-item">
                                            @foreach (var item in @Model.MovieDetail.MovieImages)
                                            {
                                                <a class="img-lightbox " data-fancybox-group="gallery" href="/Adminsite/movieimages/@item.ImagePath"><img class="media-img" src="/Adminsite/movieimages/@item.ImagePath" alt=""></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div id="moviesrelated" class="tab">
                                    <div class="row">
                                        <h3>Related Movies To</h3>
                                        <h2>@Model.MovieDetail.Name</h2>
                                        <div class="topbar-filter">
                                            <p>Found <span>@Model.MovieList.Count()</span> in total</p>
                                            <label>Sort by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>

                                        @{ List<int> exist = new List<int>(); }

                                        @foreach (var data in Model.MovieDetail.MovieGenres.Where(q => q.IsDeleted == false).Select(data => data.GenreID))
                                        {
                                            @foreach (var item in Model.MovieList)
                                            {
                                                @if (item.MovieGenres.Where(q => q.IsDeleted == false).Select(q => q.GenreID).Contains(data))
                                                {
                                                    exist.Add(Model.MovieDetail.ID);


                                                    @if (!exist.Contains(item.ID))

                                                    {

                                                        exist.Add(item.ID);

                                                        <div class="movie-item-style-2">
                                                            <img src="/adminsite/movieposter/@item.PosterURL" alt="">
                                                            <div class="mv-item-infor">
                                                                <h6><a href="/Site/MoviePage/Detail/@item.ID">@item.Name  <span>(@item.ReleaseDate.Year)</span></a></h6>
                                                                <p class="rate">
                                                                    <i class="ion-android-star"></i><span>
                                                                        @if (item.Rates.Where(q => q.IsDeleted == false).Count() != 0)
                                                                        {
                                                                            @item.AvrPoint
                                                                        }

                                                                    </span> /10
                                                                </p>
                                                                <p class="describe">@item.Description</p>
                                                                <p class="run-time"> Run Time: @item.Duration <span>Release Date: @item.ReleaseDate.ToString("dd MMMM yyyy", CultureInfo.CreateSpecificCulture("en-US"))</span></p>

                                                                <p>
                                                                    Director:
                                                                    @foreach (var moviePerson in item.MoviePeople.Where(q => q.JobID == 1))
                                                                    {
                                                                        <a href="#">@moviePerson.Person.Name @moviePerson.Person.SurName</a>
                                                                    }
                                                                </p>

                                                                <p>
                                                                    Stars:
                                                                    @foreach (var x in item.MoviePeople.Where(q => q.JobID == 3))
                                                                    {
                                                                        <a href="#">@x.Person.Name @x.Person.SurName,</a>
                                                                    }
                                                                </p>


                                                            </div>
                                                        </div>
                                                    }



                                                }


                                            }
                                        }




                                        @*<div class="movie-item-style-2">
                                                <img src="/Site/images/uploads/mv2.jpg" alt="">
                                                <div class="mv-item-infor">
                                                    <h6><a href="#">into the wild <span>(2014)</span></a></h6>
                                                    <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                                                    <p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
                                                    <p class="run-time"> Run Time: 2h21’    .     <span>MMPA: PG-13 </span>    .     <span>Release: 1 May 2015</span></p>
                                                    <p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                                                    <p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#">  Scarlett Johansson</a></p>
                                                </div>
                                            </div>*@

                                        <div class="topbar-filter">
                                            <label>Movies per page:</label>
                                            <select>
                                                <option value="range">5 Movies</option>
                                                <option value="saab">10 Movies</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 2:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>

        $(document).on("click", ".delete", function () {
            let id = $(this).attr("id");
            $.ajax({
                url: "/Site/Comment/Delete",
                type: "POST",
                data: { id: id },
                success: function (msg) {
                    console.log($("#c_" + id));
                    alert("Deleted");
                    $("#c_" + id).fadeOut();

                },
                error: function (err) {
                    alert("Failed")
                }
            })
        });

        $(document).on("click", "#vd-popup", function () {
            setTimeout(function () {
                $(".fancybox-prev").css("display", "none");
                $(".fancybox-next").css("display", "none");
            }, 800);
        });


    </script>

}
