@model ChangeVM

<form action="/Site/User/Change" method="post" class="password">
    <h4>02. Change password</h4>
    @Html.HiddenFor(q => q.id)
    @Html.HiddenFor(q => q.password)
    @*@Html.HiddenFor(q => q.Change.username)
        @Html.HiddenFor(q => q.Change.email)*@


    <div class="row">
        <div class="col-md-6 form-it">
            <label>Old Password</label>
            <input type="password" name="oldpassword" placeholder="">
            @Html.ValidationMessageFor(q => q.oldpassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>New Password</label>
            <input type="password" name="newpassword" placeholder="">
            @Html.ValidationMessageFor(q => q.newpassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-it">
            <label>Confirm New Password</label>
            <input type="password" name="confirmpassword" placeholder="">
            @Html.ValidationMessageFor(q => q.confirmpassword, "", new { @class = "text-danger" })

        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <input class="submit" type="submit" value="save">
        </div>
    </div>
</form>